body {
	background-color: #fbfbff 
}

.header, group {
	margin-left: 10%;
	margin-right: 10%;
}

.shadow {
	box-shadow: 0px 2px 10px black;
	-moz-box-shadow: 0px 2px 10px black;
	-webkit-box-shadow: 0px 2px 10px black;
}

.slider {
	background-image:url(../img/office_blurred.png);
	height: auto;
}

.footer {
	text-align: center;
	height: auto;
	background-color: blue;
}

